<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments::head(#{list.bonus.title})}"></head>
<body>
<header th:replace="~{fragments::header('resgatar-bonus')}"></header>

<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header bg-info text-white">
      <h4 class="card-title mb-0" th:text="#{registe.bonus.title}">Resgate de Bônus</h4>
    </div>

    <div class="card-body">

      <h1>
        <span th:text="#{parabens}"></span>, <strong th:text="${morador.nome}"></strong>!
      </h1>
      <p>
        <span th:text="#{resgate.bonus}"></span> <strong th:text="${bonus.nome}"></strong>.
      </p>
      <p>
        <span th:text="#{descricao}">Descrição:</span> <strong th:text="${bonus.descricao}"></strong>
      </p>
      <p>
        <span th:text="#{bonus.custo}">Custo:</span> <strong th:text="${bonus.custo}"></strong>
      </p>
      <p>
        <span th:text="#{condominio}">Condomínio:</span> <strong th:text="${condominio.nome}"></strong>>
      </p>
      <p><strong>Retire-o no local de troca de seu condominio!</strong></p>
      <a th:href="@{|/{idMorador}/{idCondominio}/bonus-disponiveis|(idCondominio=${morador.condominio.id}, idMorador=${morador.id})}"
         class="btn btn-info"
         th:text="#{return.list.bonus}">
      </a>
    </div>
  </div>

</div>

</body>
</html>
