<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="pt-br">

<head th:replace="~{fragments::head(#{details.condominio.title})}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments::header('details-condominio')}"></header>

<div class="container mt-5" th:object="${condominio}">
    <div class="card shadow-sm">
        <div class="card-header bg-info text-white">
            <h4 class="card-title mb-0" th:text="#{details.condominio.title}">Detalhes da Fatura</h4>
        </div>
        <div class="card-body">
            <!-- Informações do Morador -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong th:text="#{condominio.nome}">Nome do Condominio</strong></p>
                    <p class="text-muted" th:text="*{nome}">Nome</p>
                </div>
                <div class="col-md-6">
                    <p><strong th:text="#{profile.address}">Endereço:</strong></p>
                    <p th:text="${condominio.endereco.logradouro}
                    +','+${condominio.endereco.numero}
                    +'-'+${condominio.endereco.bairro}">
                        [Endereço do condominio]
                    </p>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong th:text="#{city}">Cidade:</strong></p>
                    <p class="text-muted" th:text="${condominio.endereco.cidade}">Cidade</p>
                </div>
                <div class="col-md-6">
                    <p><strong th:text="#{estado}">Data de Upload:</strong></p>
                    <p class="text-muted" th:text="${condominio.endereco.uf}">Data</p>
                </div>
                <div class="col-md-6">
                    <p><strong th:text="#{quantidade.moradores}">Quantidade de moradores:</strong></p>
                    <p class="text-muted" th:text="${quantidadeMoradores}">quantidade</p>
                </div>
            </div>

            <!-- Link de Retorno -->
            <div class="text-end">
                <a th:href="@{/condominios}"
                   class="btn btn-outline-info"
                   th:text="#{return.lista.condominio}">
                    Retorne à Lista de Condominios
                </a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments::footer}"></footer>
<!-- Bootstrap JS Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
