<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="pt-br">

<head th:replace="~{fragments::head(#{regiter.user.title})}">
  <!--  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">-->
</head>
<body>

<header th:replace="~{fragments::header('new-user')}"></header>
<div class="container">
  <form th:object="${moradorRequest}" th:action="@{/new-user}" method="post">

      <!--    Nome-->
      <div class="mb-3">
          <label for="nome" class="form-label" th:text="#{register.nome}">Nome</label>
          <input type="text" class="form-control" id="nome" th:field="*{nome}" th:errorclass="is-invalid">
          <div class="invalid-feedback" th:errors="*{nome}"></div>
      </div>

      <!--    Email-->
      <div class="mb-3">
          <label for="email" class="form-label" th:text="#{email}">Email</label>
          <input type="email" class="form-control" id="email" th:field="*{email}" th:errorclass="is-invalid">
          <div class="invalid-feedback" th:errors="*{email}"></div>
      </div>

      <!--    CPF-->
      <div class="mb-3">
          <label for="cpf" class="form-label">CPF</label>
          <input type="text" class="form-control" id="cpf" th:field="*{cpf}" th:errorclass="is-invalid" maxlength="14"
                 oninput="mascaraCPF(this)">
          <div class="invalid-feedback" th:errors="*{cpf}"></div>
      </div>

      <!--    Quantidade de moradores-->
      <div class="mb-3">
          <label for="qtdMoradores" class="form-label" th:text="#{register.quantidade}">Quantidade de moradores</label>
          <input type="number" class="form-control" id="qtdMoradores" th:field="*{qtdMoradores}" th:errorclass="is-invalid">
          <div class="invalid-feedback" th:errors="*{qtdMoradores}"></div>
      </div>

      <!--    Condominio-->
      <div class="mb-3">
          <label for="condominio" class="form-label">Condomínio</label>
          <select class="form-control" id="condominio" th:field="*{condominio}" th:errorclass="is-invalid">
              <option value="" th:text="#{regiter.user.selected}">Selecione o condomínio</option>
              <option th:each="cond : ${condominios}" th:value="${cond.id}" th:text="${cond.nome}"></option>
          </select>
          <div class="invalid-feedback" th:errors="*{condominio}"></div>
      </div>

      <!--    Número e bloco da residência-->
      <div class="mb-3">
          <label for="identificadorRes" class="form-label" th:text="#{identificadorRes}">Número e bloco da residência</label>
          <input type="text" class="form-control" id="identificadorRes" th:field="*{identificadorRes}" th:errorclass="is-invalid">
          <div class="invalid-feedback" th:errors="*{identificadorRes}"></div>
      </div>

      <!--    Senha-->
      <div class="mb-3">
          <label for="senha" class="form-label" th:text="#{password}">Senha</label>
          <input type="password" class="form-control" id="senha" th:field="*{senha}" th:errorclass="is-invalid">
          <div class="invalid-feedback" th:errors="*{senha}"></div>
      </div>

      <!-- Confirmação de Senha -->
      <div class="mb-3">
          <label for="confirmarSenha" class="form-label" th:text="#{confirm.password}">Confirme sua Senha</label>
          <input type="password" class="form-control" id="confirmarSenha" oninput="verificarSenha()">
          <div class="invalid-feedback" id="erroSenha" style="display: none;" th:text="#{password.match}">As senhas não coincidem.</div>
      </div>

      <button type="submit" class="btn btn-info" id="btnCadastrar" disabled th:text="#{register}">Cadastrar</button>

  </form>

  <div class="row">
      <span th:text="#{have_account}">Já tem conta? <a th:href="@{/login}">Login</a></span>
  </div>
  <div class="row">
      <a href="/" th:text="#{return.initial}">Retorne para a página inicial</a>
  </div>
</div>
<footer th:replace="~{fragments::footer}"></footer>
<script>
  function mascaraCPF(input) {
    // Remove todos os caracteres que não sejam números
    let cpf = input.value.replace(/\D/g, "");

    // Aplica a máscara
    if (cpf.length <= 3) {
      input.value = cpf;
    } else if (cpf.length <= 6) {
      input.value = cpf.slice(0, 3) + '.' + cpf.slice(3);
    } else if (cpf.length <= 9) {
      input.value = cpf.slice(0, 3) + '.' + cpf.slice(3, 6) + '.' + cpf.slice(6);
    } else {
      input.value = cpf.slice(0, 3) + '.' + cpf.slice(3, 6) + '.' + cpf.slice(6, 9) + '-' + cpf.slice(9, 11);
    }
  }

  function verificarSenha() {
    const senha = document.getElementById("senha").value;
    const confirmarSenha = document.getElementById("confirmarSenha").value;
    const erroSenha = document.getElementById("erroSenha");
    const btnCadastrar = document.getElementById("btnCadastrar");

    if (confirmarSenha === "") {
      // Esconde o erro se o campo de confirmação está vazio
      erroSenha.style.display = "none";
      btnCadastrar.disabled = true;
    } else if (senha !== confirmarSenha) {
      // Exibe o erro se as senhas não coincidem
      erroSenha.style.display = "block";
      btnCadastrar.disabled = true;
    } else {
      // Remove o erro e habilita o botão se as senhas coincidem
      erroSenha.style.display = "none";
      btnCadastrar.disabled = false;
    }
  }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</body>
</html>